<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IWCFTestService" />
        </basicHttpBinding>
        <wsHttpBinding>
          <binding name="WSHttpBinding_IWCFTestService" />
        </wsHttpBinding>
      </bindings>
        <client>
          <endpoint address="http://localhost/WebServices/WCFTestService.svc/basic"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCFTestService"
              contract="WCFTestServiceReference.IWCFTestService" name="BasicHttpBinding_IWCFTestService" />
          
          <endpoint address="http://localhost/WebServices/WCFTestService.svc/secure"
              binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWCFTestService"
              contract="WCFTestServiceReference.IWCFTestService" name="WSHttpBinding_IWCFTestService" />
        </client>
    </system.serviceModel>
</configuration>