<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="WebServices.WCFTestService" behaviorConfiguration="MyServiceTypeBehaviors">
        <host>
          <baseAddresses>
            <!-- baseAddresss is only applicable when self hosting. Else it will be the url path of svc file in IIS -->
            <add baseAddress="http://localhost:3001/WebServices/" />
          </baseAddresses>
        </host>
        <endpoint contract="WebServices.IWCFTestService" binding="basicHttpBinding" address="basic"/>
        <endpoint contract="WebServices.IWCFTestService" binding="wsHttpBinding" address="secure"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>s
      </service>
    </services>
  </system.serviceModel>
</configuration>